@import "../fonts/GilliusADF/gilliusno2.css";
@import "../fonts/GilliusADF/gilliusadf-cond.css";
@import "../fonts/CodeNewRoman/codenewroman.css";
/*
 * main.less, step 5
 */
/*
 * font-nice-names.less
 */
/*
 * fonts.less
 */
body {
  font-family: gillius_adf_no2, Helvetica, Arial, Verdana, Geneva, sans-serif;
}
body > header {
  font-family: gillius_adfcondensed, Impact, Verdana, Geneva, sans-serif;
}
body > header h1 {
  font-family: gillius_adfcondensed, Impact, Verdana, Geneva, sans-serif;
  font-style: italic;
}
body > footer {
  font-family: gillius_adfcondensed, Impact, Verdana, Geneva, sans-serif;
}
body > footer em {
  font-style: italic;
}
body > footer em strong {
  font-weight: bold;
}
body > footer strong {
  font-weight: bold;
}
body > footer strong em {
  font-style: italic;
}
body > section h1,
body > section h2,
body > section h3,
body > section h4 {
  font-family: gillius_adfcondensed, Impact, Verdana, Geneva, sans-serif;
  font-weight: bold;
}
body > section article footer {
  font-family: gillius_adfcondensed, Impact, Verdana, Geneva, sans-serif;
}
code,
pre {
  font-family: code_new_romanregular, monospace;
}
pre em {
  font-style: italic;
}
pre em strong {
  font-weight: bold;
}
pre strong {
  font-weight: bold;
}
pre strong em {
  font-style: italic;
}
/*
 * colors-nice.less
 */
body {
  background-color: #444;
}
a {
  color: bisque;
  text-decoration: none;
}
a:hover {
  color: chocolate;
}
body > header {
  background-color: black;
}
body > header h1,
body > header h2 {
  color: lightgray;
}
body > header p {
  color: lightblue;
}
body > header nav {
  background-color: black;
  color: bisque;
}
body > footer {
  background-color: brown;
  color: bisque;
}
body > section article {
  background-color: #eee;
}
body > section article h2 {
  background-color: brown;
  color: beige;
}
body > section article h3,
body > section article h4 {
  background-color: salmon;
}
body > section article a {
  color: brown;
}
body > section article footer {
  background-color: brown;
  color: bisque;
}
body > section article code {
  color: brown;
}
body > section aside {
  background-color: chocolate;
}
body > section aside menu {
  background-color: brown;
}
/*
 * basci-lists.less
 */
body > section > article ul {
  list-style-type: disc;
  list-style-position: inside;
}
body > section > article ul li {
  margin-left: 1em;
}
/*
 * width.less
 */
body > header {
  width: 100%;
}
body > footer {
  width: 100%;
}
body > section {
  max-width: 960px;
}
body > section article {
  max-width: 560px;
}
body > section aside {
  max-width: 200px;
}
body > section aside menu {
  width: 100%;
}
/*
 * spacing.less
 */
body {
  margin: auto;
}
body > header {
  margin: 0 auto 1em auto;
}
body > header h1 {
  margin: 0 0.3em 0.3em 0.3em;
}
body > header p {
  margin: 0 0.3em 0.3em 0.3em;
}
body > footer {
  margin: 1em 0 0.3em 0;
  padding: 0.2em;
}
body > section {
  margin: 1em auto;
}
body > section article {
  margin: 1em;
  padding: 1em;
}
body > section article p {
  margin: 0.1em 0.3em 0.9em 0.3em;
}
body > section article footer {
  font-size: 0.8em;
  line-height: 1.6em;
}
body > section aside {
  margin: 1em;
  padding: 1em;
}
body > header h1 {
  font-size: 2em;
  line-height: 1.9em;
}
body > header p {
  line-height: 1.5em;
}
body > header nav {
  line-height: 1.9em;
}
body > footer {
  font-size: 0.8em;
  line-height: 1.9em;
}
body > section p,
body > section li {
  line-height: 1.4em;
}
body > section h2,
body > section h3,
body > section h4 {
  line-height: 1.5em;
}
body > section h2 {
  font-size: 2.15em;
}
body > section h3 {
  font-size: 1.85em;
}
body > section h4 {
  font-size: 1.65em;
}
body > section article footer {
  line-height: 1.9em;
}
body > section aside h2 {
  font-size: 1.35em;
}
/*
 * positions.less
 */
body > section article {
  display: inline-block;
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
body > section aside {
  display: inline-block;
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
/*
 * nav-menus.less
 */
body > header nav a {
  border-right: 2px solid #ccc;
  margin: 1em;
  padding: 0.5em;
}
body > section aside menu h2 {
  text-align: center;
}
body > section aside menu a {
  display: block;
  margin: 0.5em;
  padding: 0.5em;
}
/* article.less */
body > section p,
body > section li {
  text-align: justify;
}
body > section p strong,
body > section li strong {
  font-weight: bold;
}
body > section p em,
body > section li em {
  font-style: italic;
}
body > section p strong em,
body > section li strong em,
body > section p em strong,
body > section li em strong {
  font-weight: bold;
  font-style: italic;
}
.license {
  width: 95%;
  padding: 1em;
  border: 3px inset  burlywood;
  margin: 1em 0;
}
