/*
 * colors-nice.less
 */

@color-a: bisque;
@color-a-dark: brown;
@color-a-hover: chocolate;
@color-footer-back: darksalmon;
body {
    background-color: #444;
}

a {
    color: @color-a;
    text-decoration: none;
    &:hover {
        color: @color-a-hover;
    }
}

body > header {
    background-color: black;
    h1 {
        color: lightgray;
    }
    p {
        color: lightblue;
    }
    nav {
        background-color: black;
        color: bisque;
    }
}

body > footer {
    background-color: @color-footer-back;
}

body > section {
    article {
        background-color: #eee;
        a {
            color: @color-a-dark;
        }
        footer {
            background-color: @color-footer-back;
        }
    }
    aside {
        background-color: chocolate;
        menu {
            background-color: brown;
        }
    }
}
