/*
 * colors-nice.less
 */
body {
  background-color: #444;
}
body > header {
  background-color: black;
}
body > header h1 {
  color: lightgray;
}
body > header p {
  color: lightblue;
}
body > header nav {
  background-color: black;
  color: bisque;
}
body > header nav a {
  color: bisque;
}
body > header nav a:hover {
  color: chocolate;
}
body > footer {
  background-color: darkseagreen;
}
body > section article {
  background-color: #eee;
}
body > section article footer {
  background-color: darksalmon;
}
body > section aside {
  background-color: lightblue;
}
body > section aside menu a {
  background-color: cadetblue;
}
