/*
 * font-nice-names.less
 */

@import "../fonts/GilliusADF/gilliusno2.css";
@import "../fonts/GilliusADF/gilliusadf-cond.css";

@normalFont: gillius_adf_no2, Helvetica, Arial, Verdana, Geneva, sans-serif;
@titleFont: Impact, Verdana, Geneva, sans-serif;
@footerFont: gillius_adfcondensed, @titleFont;
