/*
 * fonts.less
 */

@normalFont: Helvetica, Arial, Verdana, Geneva, sans-serif;
@titleFont: Impact, Verdana, Geneva, sans-serif;
@footerFont: @titleFont;

body {
  font-family: @normalFont;
}
body > header {
  font-family: @titleFont;
}
body > footer {
  font-family: @footerFont;
}
body > section h1,
body > section h2,
body > section h3,
body > section h4 {
  font-family: @titleFont;
}
body > section article footer {
  font-family: @footerFont;
}
