/*
 * width.less
 */
body > header {
    width: 100%;
}

body > footer {
    width: 100%;
}

body > section {
    max-width: 960px;
    article {
        max-width: 560px;
    }
    aside {
        max-width: 200px;
    }
}
